.jumbotron {
  box-sizing: border-box;
  height: 600px;
  background-color: rgba(0, 0, 0, 0);
}
@font-face{
  font-family: Heart Breaking Bad;
  src: url('Heart Breaking Bad.otf')

}
h1{
  font-family: Heart Breaking Bad;
  text-align:center;
  
}

.main-button-container {
  margin-top: 175px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.timer-p {
  margin-top: 40px;
}

.answer:hover {
  background: gray;
}

.answer {
  padding-top: 7px;
  height: 45px;
  color: black;
  padding-left: 14px;
  background-color: white;
  border-radius: 4px;
}

.img-wrong {
  margin-top: 40px;
}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}
body{
  background-image: url(https://img00.deviantart.net/2d0b/i/2012/247/f/5/breaking_bad_season_5_wallpaper_by_janikfischer-d5dk3nj.png);
  background-size:cover;
  color: white;
}
img{
  height:300;
  width:300;
}